@model IEnumerable<FinalProject.Models.Ticket>

@{
    ViewBag.Title = "My Tickets";
}

<h2>My Tickets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Event Name
        </th>
        <th>
            Location
        </th>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <th>
            Trade Type
        </th>
        <th>
            Category
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.eventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @item.date.ToString("M/d/yyyy")
        </td>
        <td>
            @item.time.ToString("h:mm tt")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tradeType)
        </td>
        <td>
            @item.category.name
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ticketId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ticketId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ticketId })
        </td>
    </tr>
}

</table>
