@model FinalProject.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<h2>Ticket Details</h2>

<ul>
    <li>Event: @Model.eventName</li>
    <li>Date: @Model.date</li>
    <li>Location: @Model.location</li>
    <li>Trade Type: @Model.tradeType</li>
    <li>User: @Model.user</li>
</ul>
<form method="GET" id="ticket" name="ticket">
    @Html.ActionLink("Trade", "Ticket", new { id = @Model.ticketId},new{ @class = "btn btn-danger" })
</form>


