@model IEnumerable<FinalProject.Models.Ticket>

@{
    ViewBag.Title = "Your Tickets";
}

<h2>Trade Options</h2>
<p>Choose a ticket you would like to trade for: @ViewBag.ticket.eventName on @ViewBag.Ticket.date.ToString("M/d/yyyy h:mm tt") </p>
<form method="POST" action="/Exchange/Trade/@ViewBag.ticket.ticketId" id="trade" name="trade">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Location</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tradeTable">
            @foreach (var t in Model)
            {
                <tr>
                    <td>@t.eventName</td>
                    <td>@t.location</td>
                    <td>@t.date.ToString("M/d/yyyy h:mm tt")</td>
                    <td>
                    <button type="button" id="@t.ticketId" name="tradeButton" class="btn btn-success btn-sm tradeButton">Select</button>
                </tr>
            }
        </tbody>
    </table>
    <input type="hidden" id="tradeTicket" name="tradeTicket" value="" />
    <div id="dialog" title="Confirm Trade"><p>Are you sure you want to make this trade?</p>
 
        <input type="button" id="dialogConfirm" style="margin-right: 10px" value="Confirm" class="btn btn-danger" />
        <input type="button" id="dialogCancel" value="Cancel" class="btn btn-default" />
</div>
</form>
@section Scripts{
<script src="~/Scripts/moment.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/ticket.js"></script>
}