@model IEnumerable<FinalProject.Models.Ticket>

@{
    ViewBag.Title = "Your Tickets";
}

<h2>Trade Succeeded</h2>
<p>You traded @ViewBag.ticket2.eventName  for @ViewBag.ticket.eventName</p>

<h4>Your Current Tickets Are:</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Event Name</th>
            <th>Location</th>
            <th>Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.eventName</td>
                <td>@t.location</td>
                <td>@t.date</td>             
            </tr>
        }
    </tbody>
</table>



